* {
    box-sizing: border-box;
}

body {
    max-width: 550px;
    margin: auto;
    font-family: 'Karla', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wbody {
    background-color: black;
}

header {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 65px;
}

.header-image {
    height: 24px;
    margin-right: 7px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 20px;
    font-weight: 700;
}

.header-project {
    font-size: 12px;
}

.form {
    padding: 36px;
}

input {
    width: 230px;
    height: 35px;
    border: 1px solid #D5D4D8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    display: flex;
    float: left;
}

.inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

button {
    width: 477px;
    height: 40px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.meme-image {
    max-width: 100%;
    margin-top: 36px;
}
