* {
    box-sizing: border-box;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 7px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}